body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../Imagenes/fondoRegistro.png');
    background-size: cover;
    background-position: center;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(107, 240, 94, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
